:root{

    /*PRIMARY COLORS*/
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);

    /*COLORS NEUTRAL*/
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

body{
    background: var(--Light-gray);
    font-family: 'Rubik';
    font-size: 1rem;
}

.container{
    margin: 0 auto;
    max-width: 724px;
    padding: 0 15px;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card{
    display: flex;
    padding: 24px;
    background: var(--White);
    width: 100%;
    border-radius: 10px;
}

.menu-like{
    background: var(--Very-light-gray);

    width: 40px;
    height: 105px;
    border-radius: 10px;
    padding-right: 10px;
    
}

.image-like, .image-dislike{
    padding-left: 12px;
    padding-top: 10px;
    width: 12px;
  
}

.textNumber{
    text-align:right;
    color: var(--Moderate-blue);
}

.wrapper-text-persona{
   display: flex;
}

header{
    display: flex;
}

.image-persona,img{
    width: 30px;
    padding-left: 10px;
}

.text-name-persona{
    padding-left: 22px;
}

.createdAt{
    padding-left: 22px;
    font-weight: normal;
    color: var(--Grayish-Blue);
}

.icon{
    width: 15px;
}

.icon-reply{
    color: var(--Moderate-blue);
    padding-left: 330px;
}

.text-comment{
    padding-left: 22px;
    display:flex;
}

.card-replies-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
} 

.card-replies{
    display: flex;
    padding: 24px;
    background: var(--White);
    width: 85%;
    border-radius: 10px;
    position: relative;
    left: 107px;
}

.icon-reply-persona{
    color: var(--Moderate-blue);
    padding-left: 220px;
}

.icon-reply-comment{
    color: var(--Moderate-blue);
    padding-left: 220px;
}

.text-name-user-reply{
    padding-left: 22px;
    padding-right: 22px;
}

.icon-delete{
    color: var(--Pale-red);
    padding-left: 100px;
}

.icon-delete-img{
    width: 11px;
}

.icon-edit{
    color: var(--Moderate-blue);
}

.icon-edit-img{
    width: 11px;
    padding-left: 24px;
}

.sent-by-me{
    background: var(--Moderate-blue);
    padding: 2px 4px;
    border-radius: 2px;
    text-align: center;
    color: var(--White);
    font-size: 12px;
    font-weight: normal;
}

.createdAt-user{
    padding-left: 16px;
    font-weight: normal;
    color: var(--Grayish-Blue);
}

.name-user{
padding-right: 10px;
}

.repleingTo{
    color: var(--Moderate-blue);
}
